* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  background-color: rebeccapurple;
  height: 350px;
  width: 650px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  color: white;
}

#auto-text {
  font-size: 35px;
  text-transform: capitalize;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
