* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#open {
  background-color: rgb(5, 197, 255);
  color: white;
  padding: 1.5rem 3rem;
  font-size: 24px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 10rem;
}

#close {
  background-color: rgb(5, 197, 255);
  color: white;
  padding: 0.6rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#container {
  background-color: rebeccapurple;
  padding: 5rem 2rem;
  color: white;
  border-radius: 10px;
  position: relative;
  transition: transform 3s ease-in-out;
  display: none;
}

#container.active{
  display: block;
}


#container p {
  margin-top: 1rem;
  font-size: 24px;
}
